<h1><%= @catalog_entry.title %></h1>
<% unless @catalog_entry.teaser.blank? %>
  <h4><%= @catalog_entry.teaser %></h4>
<% end %>

<table>
  <tr>
    <% if @catalog_entry.image.exists?(:small) %>
      <td><%= image_tag @catalog_entry.image.url(:small), :alt => @catalog_entry.title %></td>
    <% end %>
    <td><%= simple_format @catalog_entry.body %></td>
  </tr>
</table>

<% if @catalog_entry.pdf.exists? %>
  <p><%= link_to "Download PDF", @catalog_entry.pdf.url %></p>
<% end %>



<div class="select-products" id="linked-products">
  <h3>Linked Products</h3>
  <ul class="select-product-list">
    <%= render :partial => "link", :collection => @catalog_entry.products, :as => :product, :locals => { :action => "remove" } %>
  </ul>
</div>

<div class="select-products" id="unlinked-products">
  <h3>Unlinked Products</h3>
  <ul class="select-product-list">
    <%= render :partial => "link", :collection => @products, :as => :product %>
  </ul>
</div>
  
<br class="clear"/>

<% content_for :head do %>
  <%= stylesheet_link_tag "admin/catalog_entry" %>
<% end %>

<script type="text/javascript">
//<![CDATA[
  (function($){      
    $(".select-product-list a").live("click", function(evt) {
      evt.preventDefault();
      var a = $(this);
      // only allow one click
      if (a.data("clicked")) { return; }
      a.data("clicked", true);
      var href = a.attr("href");
      var li = a.parent().css("opacity", 0.5);
      var list = $(href.match("/add") ? "#linked-products ul" : "#unlinked-products ul");
      $.get(href, function(result) {
        li.remove();
        list.append(result);
      });      
    });
  })(jQuery);
//]]>
</script>
